:root {
    --go-font-family: 'Dosis', sans-serif;
    --go-font-regular: 300;
    --go-font-medium: 600;
    --go-font-semibold: 600;

    --go-background: linear-gradient(180deg, #C91819 0%, #A70F22 100%);
    --go-text: #777777;
    --go-border: none;

    --go-titulo-font: 'Dosis', sans-serif;
    --go-titulo-font-size: 19px;
    --go-titulo-font-weight: bold;
    --go-titulo-font-color: #FFFFFF;

    --go-titulo-descricao-font: 'Open Sans', sans-serif;
    --go-titulo-descricao-font-size: 14px;
    --go-titulo-descricao-font-weight: 400;
    --go-titulo-descricao-font-color: #FFFFFF;

    --go-input-font: 'Dosis', sans-serif;
    --go-input-background: #FFFFFF;
    --go-input-label: #FFFFFF;
    --go-input-text: #404040;
    --go-input-icon: #404040;
    --go-input-border: #C7C7C7;

    --go-button-font: 'Dosis', sans-serif;
    --go-button-background: #FFFFFF;
    --go-button-text: #D10000;
    --go-button-icon: #D10000;
    --go-button-border: none;

    --go-reserva-background: #FFFFFF;
    --go-reserva-title: #000000;
    --go-reserva-text: #404040;
    --go-reserva-text2: #404040;
    --go-reserva-subtext: #404040;
    --go-reserva-icon: #000000;
    --go-reserva-next: #000000;
    --go-reserva-border: none;
    --go-reserva-price-of: #606060;

    --go-calendario-font: 'Dosis', sans-serif;
    --go-calendario-background: #FFFFFF;
    --go-calendario-border: #C7C7C7;
    --go-calendario-text: #777777;
    --go-calendario-text-disabled: rgba(206, 206, 206, 0.6);
    --go-calendario-semana-background: #D10000;
    --go-calendario-icon: #777777;
    --go-calendario-icon-disabled: #777777;
    --go-calendario-selected-background: #D10000;
    --go-calendario-selected-text: #FFFFFF;
    --go-calendario-separate: none;
    --go-calendario-seta: #505050;
    --go-calendario-seta-disabled: rgba(80, 80, 80, 0.5);

    --go-tab-background: transparent;
    --go-tab-border: #FFFFFF;
    --go-tab-text: #FFFFFF;
    --go-tab-icon: #FFFFFF;
    --go-tab-selected-background: #FFFFFF;
    --go-tab-selected-text: #000000;
    --go-tab-selected-icon: #000000;

    --go-descricao-font: 'Dosis', sans-serif;
    --go-descricao-font-size: 14px;
    --go-descricao-font-weight: 400;
    --go-descricao-font-color: #FFFFFF;

    --go-loading-background: linear-gradient(180deg, #C71719 0%, #A70F21 100%);
    --go-loading-color: #FFFFFF;

    --go-modal-color: #D10000;
    --go-modal-background: rgba(0, 0, 0, 0.2);
    --go-modal-border: none;
    --go-modal-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);

    --go-modal-header-font: 'Dosis', serif;
    --go-modal-header-font-size: 24px;
    --go-modal-header-font-weight: bold;
    --go-modal-header-font-color: #FFFFFF;

    --go-modal-body-font: 'Open Sans', serif;
    --go-modal-body-font-size: 18px;
    --go-modal-body-font-weight: 600;
    --go-modal-body-font-color: #333333;

    --go-modal-separador: none;

    --go-modal-button-font: 'Open Sans', serif;
    --go-modal-button-font-color: #FFFFFF;
    --go-modal-button-font-size: 18px;
    --go-modal-button-font-weight: 800;
    --go-modal-button-background: #D10000;
    --go-modal-button-border: none;

    --go-tarja-campanha-background: #f72c4b;
    --go-tarja-campanha-color: #FFFFFF;
    --go-tarja-campanha-separador-background: #FFFFFF;

    --go-indisponivel-border: 1px solid #D8D8D8;
    --go-indisponivel-font-family: 'Titillium Web', serif;
    --go-indisponivel-font-medium: 400;
    --go-indisponivel-font-size: 14px;
    --go-indisponivel-font-color: #777777;

    --go-input-disabled-opacity: 0.4;
    --go-input-disabled-font: 'Dosis', sans-serif;
    --go-input-disabled-background: #FFFFFF;
    --go-input-disabled-icon: #777777;
    --go-input-disabled-border: 1px solid #D8D8D8;
}

.suite__programada #suites-availability-go .modal-content {
    border-radius: 0;
}

.suite__programada #suites-availability-go .modal-header {
    background-color: var(--go-modal-color);
}

.suite__programada #suites-availability-go .modal-title {
    letter-spacing: 1.32px;
    position: inherit;
    text-transform: uppercase;
}

.suite__programada #suites-availability-go .modal-body {
    padding: 1.25rem;
    text-align: center;
}

.suite__programada #suites-availability-go .modal-footer {
    text-align: center;
}

.suite__programada #suites-availability-go .modal-footer button {
    border-radius: 21px;
    width: 90% !important;
}

.suite__programada {
    margin: 30px 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.suite__programada #suites-availability-go {
    padding: 19px 24px;
    background: var(--go-background);
}

.go-header-title {
    text-transform: none !important;
}

.go-header-title:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
    border-radius: 4px;
}

.suite__programada #suites-availability-go .go-programadas-filtros-periodo-input p,
.go-programadas-listagem-item-entrada-saida-input p {
    color: var(--go-input-text);
    font-weight: 600 !important;
    margin: 0;
}

.go-programadas-filtros-buscar button {
    border-radius: 21px;
    font-weight: bold;
    text-transform: uppercase;
}

.suite__programada #suites-availability-go .DayPicker .DayPicker-Months>div {
    margin-right: 0;
}

.suite__programada #suites-availability-go .DayPicker .DayPicker-Months>div+div {
    margin-left: 13px;
}

.suite__programada #suites-availability-go .DayPicker .DayPicker-Day--selected {
    border-radius: 100%;
}

.suite__programada #suites-availability-go .go-programadas-listagem {
    background: transparent;
    padding: 22px 0 0;
}

.detalhes__itens {
    padding-top: 20px !important;
}

.go-programadas-calendario-full {
    line-height: initial;
}

.suite__programada #suites-availability-go .DayPicker .DayPicker-Caption>div {
    color: #D10000;
    font-weight: bold !important;
}

.DayPicker-Weekday abbr[title],
.go-programadas-calendario-full-semanas-item {
    color: #FFFFFF !important;
}

.go-imediatas-listagem-item-icone-cortesia,
.go-programadas-listagem-item-icone-cortesia {
    fill: #D10000 !important;
}

.interna__calendario {
    margin-top: 15px !important;
    padding: 0 !important;
}

.interna__calendario h3 {
    color: #D10000;
    margin-top: 0;
}

#boxCalendario p:first-child {
    position: relative;
}

.ui-datepicker-trigger {
    left: 23% !important;
    margin-top: 16px !important;
}

.box-valor-adicional span {
    line-height: 150% !important;
    color: #FFF !important;
}

.interna__info {
    display: block !important;
    margin: 15px 0 0 !important;
}

.interna__itens,
.interna__info {
    background: #FFFFFF !important;
    border: 1px solid #A81A1C;
}

.interna__itens .interna_title--small,
.interna_title--big {
    color: #A81A1C !important;
    font-weight: bold;
}

.interna__itens p,
.interna__info p {
    color: #777777;
}

@media screen and (min-width: 992px) {

    .go-header {
        margin-right: 10% !important;
    }

    .go-programadas-filtros-buscar button {
        min-height: 47px;
        padding: 0 23px !important;
    }

    .info-suites {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }

    .info-suites>div {
        width: 30%;
    }

}

@media screen and (max-width: 600px) {

    .suite__programada {
        margin-left: 15px;
        margin-right: 15px;
    }

    .suite__programada #suites-availability-go {
        padding-left: 5px;
        padding-right: 5px;
    }

    .go-tabs {
        border-radius: 25px;
        margin-left: auto;
        margin-right: auto;
        padding: 5px !important;
        width: 90% !important;
    }

    .go-tabs-selecionada {
        border-radius: 21px;
    }

    .info-suites {
        margin: 0 15px;
    }

    .interna__calendario {
        margin-bottom: 15px;
    }

}

@media screen and (max-width: 321px) {

    .suite__programada #suites-availability-go .DayPicker .DayPicker-Day {
        padding: 10px !important;
    }

}